.Landing_Main{
    width: 100%;
    /* background-color: red; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Landing_Main_Wrap{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.Landin_Text{
    width: 500px;
    font-size: 35px;
}
.Landing_Img{
    width: 280px;
}
.Landing_Appointment_Bttn{
    margin-top: 20px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #5E9ECC;
    color: white;
    cursor: pointer;
}
.b{
    color: #5E9ECC;
}
@media screen and (max-width: 426px){
    .Landin_Text{
        font-size: 15px;
    }
    .Landing_Img{
        width: 150px;
    }
}