.Header_Main {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
}

.Header_Main_Wrap {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.Header_Logo {
    width: 80px;
    height: 75px;
    border-radius: 100%;
}

.Header_Navigator {
    width: 500px;
    /* background-color: red; */
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header_Navigator  p{
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}
.Header_Navigator p:hover{
    background-color: #5E9ECC;
}

.Header_Button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 20px;
}

.Header_Btt1 {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #5E9ECC;
    cursor: pointer;
    /* color: white; */
}

.Header_Btt2 {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.Header_Burger{
    display: none;
}
@media screen and (max-width: 426px){
    .Header_Navigator{
        display: none;
    }
    .Header_Button{
        display: none;
    }
    .Header_Burger{
        display: flex;
    }
    .Header_Navigator_Mobile{
        display: flex;
        width: 60%;
        height: 100%;
        position: fixed;
        top: 95px;
        left: 0px;
        flex-direction: column;
        align-items: center;
        background-color: #5E9ECC;
    }
    .Header_Navigator_Mob{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      /* margin-left: 50px; */
        justify-content: center;
        gap: 20px;
        cursor: pointer;
    }
    .Header_Button_Mobile{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      /* margin-left: 50px; */
        justify-content: center;
        gap: 20px;
        /* padding: 10px; */
       
    }
    .Header_Navigator_Mob p:hover{
        background-color: white;
        padding: 10px;
        border-radius: 3px;
    }
    .Header_Button_Mobile p:hover{
        background-color: white;
        padding: 10px;
        border-radius: 3px;
    }
    
}