.About_Main{
    width: 100%;
    padding: 10px;
    background-image: url("/About.png");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  background-blend-mode: color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(10px); */
}
.About_Main_Wrap{
/* color: white; */
width: 70%;
text-align: center;
}
.About_Main_Wrap p{
    /* width: 400px; */
    font-size: 20px;
    color: white;
}
.List li{
   list-style-type: none;
}
.About_List{
    margin-top: 10px;
}
@media screen and (max-width: 426px){
    .About_Main{
        width: 100%;
    }
    .About_Main_Wrap p{
        font-size: 15px;
        color: white;
        /* color: rgb(212, 199, 199); */
    }
}