.Service_Main{
    width: 100%;
    /* height: 100vh; */
    margin-top: 100px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.Service_Main_Wrap{
    width: 90%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.Service_Div_Main_Wrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* background-color: blue; */
}        
.Service_Div_Main_Wrap2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* background-color: red; */
    margin-top: 50px;
} 
.Service_Div_Main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}
.Service_Img{
    width: 300px;
    height: 200px;
}
.Service_Text_Div{
    width: 400px;
}
.Service_Text_Div p{
    /* margin-top: 20px; */
    text-align: center;
    font-size: 15px;
}
.ServiceLeft_Div {
    width: 60%;
    text-align: center;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
.ServiceLeft_Div2 {
    width: 60%;
    text-align: center;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}
.ServiceLeft_Div h4{
    width: 300px;
}
.ServiceLeft_Div2 h4{
    width: 300px;
}